#main-container{
	height: 100%;
}

#main-container header{
	width:100%;
	background: #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:10px;
}

#main-container header img{
	width:70px;
}


#main-container form{
	width: 600px;
	margin-left:calc(50% - 300px);
	display: flex;
	justify-content: center;
}
#main-container form h3{
	font-size:1.5em;
	margin-top:34px;
}

#main-container form input{
	height: 35px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 16px;
	padding: 0 20px;
	margin-top: 30px;
	width:calc(49% - 10px);
}

#main-container form button{
	height: 35px;
	background: #267095;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 16px;
	padding: 0 20px;
	margin-top: 30px;
	margin-left:10px;
	color: #fff;
	font-weight: bold;
	border:0;
	cursor: pointer;
	width:100px;
}
#main-container form button:hover{
	background: #66ccff;
}