html,body{
    background: linear-gradient(to bottom, #f9f9f9, #ddd);
    height: 100%;
    overflow: hidden;
}
#main-container{
    clear:both;
    width:350px;
    height: 350px !important;
    margin-left:calc(50% - 175px);
    border:solid 1px #ddd;
    margin-top: 10%;
    border-radius:5px;
    box-shadow:0px 0px 10px #a29f9f;
}

#main-container header{
    clear: both;
    background: transparent !important;
    text-align:center;
}
#main-container header h1{
    width:100%;
}

#main-container form{
    clear: both;
    display: block !important;
    width:100% !important;
    margin-left:0px !important;
}
#main-container form h3{
    text-align:center;
    margin-bottom:20px
}

#main-container form input{
    width:90% !important;
    margin-left:5% !important;
    margin-top:10px !important;
}

#main-container form button{
    width:90% !important;
    margin-left:5% !important;
}

#main-container .register{
    text-align: center;
}
#main-container .register a{
    text-decoration: none;
    color:#000;
}